@import "vendor/bootstrap/bootstrap/variables";
@import "variables";

/* page specific overrides */
.blank-header {
  padding-bottom: 197px;
}
.blank-header + .merchandising-content-container {
  margin-bottom: -117px;
}
/* end overrides */
.merchandising-content-container {
  align-content: stretch;
  align-items: stretch;
  background: $body-bg;
  box-shadow: $box-shadow-medium;
  border-radius: $border-radius-large;
  color: $gray-dark;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: stretch;
  margin: 0 auto 0 auto;
  max-width: 1100px;
  text-decoration: none;
  transform: translateY(-117px);
  transition: $transition-primary;
  width: calc(100% - 40px);
}
.merchandising-content-container:active,
.merchandising-content-container:focus,
.merchandising-content-container:hover {
  background: #ffffff;
  color: $gray-dark;
  text-decoration: none;
}
.merchandising-content-container:active .merchandising-arrow,
.merchandising-content-container:focus .merchandising-arrow,
.merchandising-content-container:hover .merchandising-arrow {
  transform: translateX(10px);
}
.merchandising-image {
  background-position: 0 0;
  background-size: cover;
  border-color: $divider-color;
  border-style: solid;
  border-width: 0px 1px 0px 0px;
  flex: 0 1 auto;
  max-width: 220px;
  overflow: hidden;
  width: 100%;
}
.merchandising-copy-wrapper {
  flex: 0 1 auto;
  min-height: 220px;
  overflow: hidden;
  padding: 55px 40px;
}
.merchandising-content-container .title {
  display: block;
  font-weight: bold;
  width: 100%;
}
.merchandising-content-container h4 {
  font-size: 34px;
  line-height: 42px;
}
.merchandising-content-container .content {
  display: block;
  width: 100%;
}
.merchandising-content-container p {
  font-size: 24px;
  line-height: 31px;
  margin-bottom: 25px;
}
.merchandising-content-container .cta-wrapper {
  display: block;
  width: 100%;
}
.merchandising-content-container .cta-text {
  color: $link-color;
  display: inline;
  font-size: 16px;
  font-weight: bold;
  line-height: 23px;
  text-transform: uppercase;
}
.merchandising-content-container .merchandising-arrow {
  display: inline-block;
  height: 23px;
  margin-left: .25em;
  transition: 0.2s cubic-bezier(0, 0, 0, 1);
  width: 18px;
}
@media (max-width: $screen-sm-min) {
  .merchandising-content-container {
    display: block;
    width: 320px;
  }
  .merchandising-image {
    border-width: 0px 0px 1px 0px;
    height: 160px;
    max-width: none;
    width: 320px;
  }
  .merchandising-copy-wrapper {
    padding: 24px 30px;
  }
  .merchandising-content-container h4 {
    font-size: 24px;
    line-height: 31px;
  }
  .merchandising-content-container p {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 50px;
  }
}
